* {
  box-sizing: border-box;
}
body {
  display: block;
  font-family: sans-serif;
  align-items: center;
  height: 90%;
  width: 90%;
}

.card-container {
  position: absolute;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid black 3px;
  width: 30em;
  overflow: hidden;
  background-color: #c9ddf5;
  z-index: -2;
}

.actions-container {
  width: 90px;
  height: 90px;
  background-color: white;
  position: relative;
  top: -35em;
  right: -23em;
  border-radius: 50%;
  align-items: center;
}

.fa-bars {
  padding: 0.6em;
  width: 70px;
  height: 70px;
  background-color: #03a9f4;
  border-radius: 50%;
  margin: 10px;
  animation: barsAnimation;
}

.fa-arrow-left {
  padding: 0.6em 0 0 0.6em;
  width: 70px;
  height: 70px;
  background-color: #03a9f4;
  border-radius: 50%;
  margin: 10px;
  z-index: 2;
  animation: arrowAnimation;
}

.header {
  background-color: #03a9f4;
  color: white;
  font-size: 180%;
  padding: 0.5em 0;
  animation: headerActivAnimation 500ms linear;
}

.header-active {
  background-color: #03a9f4;
  color: white;
  font-size: 180%;
  padding: 0.5em 0.5em 0.5em 0em;
  position: relative;
  top: -3em;
  padding-left: 3em;
  z-index: 0;
  animation: headerAnimation 500ms linear;
}
img {
  width: 30em;
  animation: imageActivAnimation 500ms ease-out;
}
.img-active {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 1;
  padding: 0.5em;
  animation: imageAnimation 500ms;
}

.actions-container-active {
  background-color: #c9ddf5;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 4em;
  right: 0;
  left: 24em;
  bottom: 0;
  animation: barsAnimation 500ms linear;
}

.mc-description {
  display: none;
  background-color: #c9ddf5;
  color: gray;
  padding: 6em 2.3em;
  font-size: 130%;
  position: relative;
  top: -5em;
  z-index: -1;
}
.mc-description-active {
  display: block;
  background-color: #c9ddf5;
  color: gray;
  padding: 6em 2.3em;
  font-size: 130%;
  position: relative;
  top: -5em;
  z-index: -1;
  animation: descriptionAnimation 500ms linear;
}

@keyframes imageAnimation {
  from {
    transform: scale(20);
  }
  to {
    transform: scale(1);
  }
}
@keyframes imageActivAnimation {
  from {
    /* transform: scale(0.1) translate(200px, 200px); */
    transform: scale(0.1) translate(-1000px, -1000px);
  }
  to {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes barsAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes arrowAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes descriptionAnimation {
  from {
    transform: translateY(200px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes headerAnimation {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes headerActivAnimation {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0);
  }
}
