* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #caf4b9;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #7aa651;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add:active {
  transform: scale(0.98);
}

.wrapper {
  margin: 60px auto 0 auto;
}

/* Note styles */
.note-wrap {
  width: 235px;
  min-height: 235px;
  padding: 35px;
  margin: 0 22px 44px 22px;
  position: relative;
  font-size: 24px;
  vertical-align: top;
  display: inline-block;
  font-family: Englebert, Arial;
  color: #4b453c;
  background: #f7e999;
  line-height: 34px;
  text-align: center;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.note-wrap:before {
  display: block;
  content: "";
  background: rgba(227, 200, 114, 0.4);
  width: 130px;
  height: 28px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px/18px 0;
  position: absolute;
  top: -13px;
  left: 50px;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

div.note-wrap:nth-of-type(1) {
  background: #ffbda3;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}
div.note-wrap:nth-of-type(3n + 1) {
  background: #ffbda3;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

.note-wrap:nth-of-type(2n) {
  background: #b9dcf4;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.note-wrap:nth-of-type(3n) {
  background: #caf4b9;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}
.note-wrap:nth-of-type(4n) {
  background: #f7e999;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
}

textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  min-height: 235px;
  width: 100%;
}
.main {
  overflow-wrap: break-word;
}

.hidden {
  display: none;
}
.note .tools button {
  background-color: transparent;
  border: none;
  color: 0;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}
